.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chatBoxBottom {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatMessageInput {
  width: 80%;
  height: 80px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--success-bg-light);
  color: white;
}

.chatSubmitButton:hover {
  background-color: var(--success-bg-dark);
}

.chatSubmitButton:disabled {
  cursor: not-allowed;
  background-color: #494949;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}


.noConversation {
  position: absolute;
  top: 20%;
  text-align: center;
  font-size: 25px;
  color: rgb(77, 77, 77);
}