.post {
  width: 100%;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 16px -7px rgba(0,0,0,0.68); 
  box-shadow: 0px 0px 16px -7px rgba(0,0,0,0.68);
  margin-bottom: 30px ;
}

.postWrapper {
  padding: 0.6rem;
  position: relative;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0.6rem;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 1.25rem 0;
}

.postImg {
  margin-top: 1.25rem;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 2px;
  cursor: pointer;
  scale: 0.9;
  opacity: 0.9;
}

.likeIcon:hover {
  scale: 1;
  transition: all 0.5s;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
}

.postBottomRight {
  cursor: pointer;
  display: flex;
  gap: 5px;
  font-weight: 500;
}

.deletePostWrapper {
  cursor: pointer;
  position: absolute;
  right: 5px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(51, 51, 51);
  padding: 0.5rem 1rem;
}

.commentsWrapper {
  padding: 0.8rem;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  margin-top: 0.5rem;
  max-height: 150px;
  overflow-y: scroll;
}

.userComments {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1rem 0;
}

.linkCommentProfilePicture {
  align-self: flex-start;
}

.commentUserProfilePicture {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  align-self: flex-start;
}

.commentBox {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.commentUsername {
  margin-top: 5px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.commentText {
  border-radius: 0 10px 10px  10px ;
  padding: 1rem;
  background-color: white;
}

.writeCommentBox {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.writeComment {
  width: 80%;
  padding-left: 1rem;
  border-radius: 5px;
  border: 1px solid black;
}

.sendComment {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--success-bg-green-light);
  border: none;
  border-radius: 5px;
  color: white;
}

.sendComment:hover {
  background-color: var(--success-bg-green-dark);
}

.noCommentariesText {
  padding: 1rem;
  text-align: center;
  color: gray;
  font-size: 18px;
}