.post {
  width: 100%;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 16px -7px rgba(0,0,0,0.68); 
  box-shadow: 0px 0px 16px -7px rgba(0,0,0,0.68);
  margin-bottom: 30px ;
}

.postWrapper {
  padding: 0.6rem;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0.6rem;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 1.25rem 0;
}

.postImg {
  margin-top: 1.25rem;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 2px;
  cursor: pointer;
  scale: 0.9;
  opacity: 0.9;
}

.likeIcon:hover {
  scale: 1;
  transition: all 0.5s;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
}