.rightbarOnlineWrapper {
  height: 12.5rem;
  padding: 0.6rem;
  overflow-y: scroll;
}

.rightbarOnline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2;
  right: -5px;
  border: 2px solid white;
}

.rightbarUsername {
  font-weight: 500;
}

.rightbarFriendList a {
  text-decoration: none;
  color: black;
}

.noFriendsOnline {
  color: rgba(95, 95, 95, 0.712);
  text-align: center;
}