.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 1.25rem 1.25rem 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.6rem;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 90%;
  border-radius: 0.6rem;
  margin: 1.875rem 0 ;
}

.rightbarTitle {
  margin-bottom: 1.25rem;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  margin-right: 0.6rem;
  position: relative;
}

.rightbarProfileImg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.rightInfo {
  margin-bottom: 1.875rem;
}

.rightbarInfoItem {
  margin-bottom: 0.6rem;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbarInfoValues {
  font-weight: 300;
}

.rightbarFollowings {
  display: flex;
  justify-content: space-around;
  margin-top: 1.25rem;
}

.rightbarFollowings a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  color: black;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}


.rightbarFollowingImg {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  border-radius: 5px;
}

.rightbarFollowButton {
  margin-top: 1.875rem;
  margin-bottom: 0.6rem;
  border: none;
  background-color: var(--main-bg-light);
  color: white;
  border-radius: 5px;
  padding: 5px 0.6rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}