.share {
  margin-bottom: 1.875rem;
  width: 100%;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 16px -7px rgba(0,0,0,0.68); 
  box-shadow: 0px 0px 16px -7px rgba(0,0,0,0.68);
}

.shareWrapper {
  padding: 0.6rem;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.6rem;
}

.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 1.25rem;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 1.25rem;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  border: none;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
  background-color: var(--success-bg-green);
  font-weight: 500;
  margin-right: 1.25rem;
  color: white;
}

.shareImgContainer {
  padding: 0 1.25rem 0.6rem 1.25rem;
  position: relative;
  margin: auto;
  max-height: 400px;
  max-width: 400px;
}

.shareImg {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  max-width: 400px;
}

.shareCancelImg {
  background-color: black;
  border-radius: 50%;
  padding: 1px;
  position: absolute;
  top: 0;
  right: 1.25rem;
  cursor: pointer;
  opacity: 0.8;
  color: white;
}