
.coverBackground {
  position: relative;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.editIcon {
  position: absolute;
  right: 1%;
  top: 5%;
  cursor: pointer;
}

.editIcon svg {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px black;
  padding: 5px;
}

.editIcon svg:hover {
  background-color: rgb(247, 247, 247);
}

.confirmButton {
  background-color: rgba(0, 0, 0, 0.103);
  border-radius: 10px;
  padding: 0.5rem;
  position: absolute;
  top: 2%;
  left: 35%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.confirmButton span {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.confirmButton button {
  border-radius: 50%;
  padding: 0.1rem 0.2rem;
  border: none;
  color: white;
  cursor: pointer;
}

.confirm {
  background-color: var(--success-bg-light);
}

.confirm:hover {
  background-color: var(--success-bg-dark);
}

.cancel {
  background-color: red;
}

.cancel:hover {
  background-color: rgb(216, 1, 1);
}